
---
type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div class="space-y-4" style={small ? "font-size: 0.875rem" : ""}>
  <p>
    Welcome to my portfolio + blog! 👋
  </p>
  <p>
   I'm currently a System & Database Administrator, but the tech junkie in me just can't stop tinkering.
   Follow along my journey as I explore the world of self-hosting and homelabs, as well as full-stack web development. 
  </p>
</div>
