<div class="giscus"></div>

  <script src="https://giscus.app/client.js"
        data-repo="timblazing/blog"
        data-repo-id="R_kgDONZj0WA"
        data-category="Announcements"
        data-category-id="DIC_kwDONZj0WM4CnYJT"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
